.card{
    background-color:rgb(40,40,40) ;
}

.card-body{
    color: white;
}
.card-text{
    font-size: 0.8rem;
}


h1{
    color:white;
}

hr.line{
    border-top: 1px solid #8c8b8b;
}

.title{
    color: white;
    padding-left:3px;
}
